doctype html
head
  link(rel='stylesheet' type='text/css' href='navstyle.css')
  link(rel='stylesheet' type='text/css' href='bodystyle.css')
  link(rel='stylesheet' type='text/css' href='homepagesearchbar.css')
  script(type='text/javascript' src='client.js')
  style.
    .genreSquare{
    text-align: left;
    color: aliceblue;
    font-size: large;
    vertical-align: top;
    background: rgb(79, 115, 156);
    height: 100vh;
    width: 100vw;
    border: 0;
    border-radius: 2vw;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 5vh 3vw;
    box-sizing: border-box;
    z-index: 1;
    }
    .genretable{
    background-color: rgb(105, 190, 209);
    color: black;
    padding: 0 100px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    }
    .GenreBTN{
    background-color: rgb(103, 122, 158);
    border-radius: 2vw;
    color: white;
    width: 7vw;
    padding: 16px;
    font-size: 16px;
    outline: none;
    border-color: black;
    }
    .GenreBTN:hover{background-color: rgb(141, 170, 223);}
.topnavigation
    a.nav(href='/homepage') Home
    a.nav(href=curUser.URL) My Account
    a.nav(href='/genres') Genres
    a.nav(href='/movies') Movies
    a.nav(href='/users') Users
    a.nav(href='/actors') Actors
    a.nav(href='/directors') Directors
    a.nav(href='/writers') Writers
    a.notification.selected(href='/notifications')
      span 	&#128276;
table.CSSTable(cellpadding='50')
  br
  br
  br
  tr
    td.profileSquare
      .Profilepicture
        a(href=curUser.URL)
          img#profilepic.profile(src=curUser.profilePicture)
      .Usermame(style='color: white;')
        label #{curUser.username}
        form(action='/logout' method='post')
          button.dropbtn(type='logout') Logout
      .profileInfo
      br
      input#username(type='text' name='username' required='')
      br
      button(type='searchuser' onclick='searchUser()') search user...
      br
      br
      input#profile(type='text' name='profile' required='')
      br
      button(type='searchuser' onclick='changeProfile()') enter link to change profile picture
      br
      br
      .dropdown
        label#followercount #{curUser.followers.length}
        br 
        button.dropbtn Followers
        .dropdown-content
         ul#follower(type='followers')
      br
      br
      .dropdown
        label#followingcount  #{curUser.following.length} 
        br
        button.dropbtn Following
        .dropdown-content
          ul#following(type='following')
      br
      br
      button(type='button') Settings
      br
      br
      if curUser.contributingUser == true
        input#contribute(type='checkbox' name='contribute' onclick="updateContributingUser()" checked='checked')
        label(for='contribute')  Contributing User
      else
        input#contribute(type='checkbox' name='contribute' onclick="updateContributingUser()")
        label(for='contribute')  Contributing User
    td.genreSquare
      each val in curUser.notications
        p #{val}